<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Create Employee</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="fullname">Full Name:</label>
      <input id="fullname" type="text" class="form-control" name="name" [(ngModel)]="fullname">
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input id="phone" type="text" class="form-control" name="phone" [(ngModel)]="phone">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <div class="form-control">
          <label >
            <input type="radio" value="male" name="gender" [(ngModel)]="gender">
            Male
          </label>
          <label>
        <input type="radio"  value="female" name="gender" [(ngModel)]="gender">
        '       female
        </label>
      </div>
      </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>

</div>
</div>
</form>
